#output {
  padding: 10px;
  margin-top: 100px;
  border: 1px solid #ccc;
  width: 320px;
  font-family: Arial, sans-serif;
}

#output img {
  width: 300px;
  height: 300px;
  margin-top: 10px;
  border-radius: 8px;
}
